#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: rgb(46, 40, 40);
    border: 1px solid white;
    box-shadow: 1px 2px 3px 4px rgba(255, 255, 255, 0.527);
    height: 65dvh;
    width: 50dvw;
    align-content: center;
    margin-top: 10dvh;
}
